.container-centered{
    max-width: 1000px;
    margin: 0 auto;
}



#nav-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    background-color: green;

    margin-bottom: 120px
}


#nav-inner ul{
    list-style-type: none;
}


#logo{
    width: 100px;
    height: 80px;
    background-color: darkgreen;
    /* test */
}


#links{
    display: flex;
    align-items: stretch;
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    /* test */
}

#links li{
    background-color: brown;
    height: 30px;
    width: 60px;
    /* test */
}


#login{
    width: 100px;
    height: 80px;
    background-color: darkgreen;
}



/* header */
#flex-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}


#title{
    width: 480px;
    height: 60px;
    background-color: blue;
}

#paragraph{
    width: 670px;
    height: 80px;

    background-color: red;
}


#container-button button{
    width: 240px;
    height: 55px;
}



/* main */

.container1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px;
}

.container2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 250px;
}

.container3{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 120px;
}

.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 110px;
}


.image-content1{
    width: 530px;
    height: 390px;
    background-color: yellow;
}

.text-content1{
    width: 370px;
    height: 380px;
    background-color: aqua;
}

.text-content2{
    width: 340px;
    height: 260px;
    background-color: darkblue;
}

.image-content2{
    width: 550px;
    height: 370px;
    background-color: red;
}

.text-content3{
    width: 880px;
    height: 135px;
    background-color: green;
}

.image-content3{
    width: 960px;
    height: 500px;
    background-color: red;
}

#final-text{
    width: 420px;
    height: 30px;
    background-color: blue;
}

#download-button{
    width: 175px;
    height: 45px;
    background-color: yellowgreen;
}