.container-centered{
    max-width: 1000px;
    margin: 0 auto;
}



#nav-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 80px;
    background-color: green;

    margin-bottom: 120px
}


#nav-inner ul{
    list-style-type: none;
}


#logo{
    width: 100px;
    height: 80px;
    background-color: darkgreen;
    /* test */
}


#links{
    display: flex;
    align-items: stretch;
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    /* test */
}

#links li{
    background-color: brown;
    height: 30px;
    width: 60px;
    /* test */
}


#login{
    width: 100px;
    height: 80px;
    background-color: darkgreen;
}



/* header */
#flex-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}


#title{
    width: 480px;
    height: 60px;
    background-color: blue;
}

#paragraph{
    width: 670px;
    height: 80px;

    background-color: red;
}


#container-button button{
    width: 240px;
    height: 55px;
}



/* main */
.image-content{
    width: 530px;
    height: 390px;
    background-color: yellow;
}